In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Iris-f.csv')

In [3]:
df1 = df.copy(deep = True)

In [4]:
df1.isna().sum()

SepalLengthCm    2
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [5]:
med=df1['SepalLengthCm'].median() #to find median of a dataset 
med

5.8

In [6]:
df1['SepalLengthCm'].fillna(med,inplace=True) #to fill null value  with the median

In [7]:
df2 = df.copy(deep = True)

In [8]:
men=df1['SepalLengthCm'].mean() #to find mean of a dataset 
men

5.851333333333333

In [9]:
df2['SepalLengthCm'].fillna(men,inplace=True) #to fill null value  with the mean

In [10]:
df2.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4        5.851333           3.6            1.4           0.2  Iris-setosa
7        5.000000           NaN            NaN           0.2  Iris-setosa
10       5.400000           3.7            1.5           0.2          NaN
20       5.851333           3.4            1.7           0.2  Iris-setosa

In [11]:
df2.Species.fillna("Iris-setosa",inplace=True) #fill na with catogerical value 
df2.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4        5.851333           3.6            1.4           0.2  Iris-setosa
7        5.000000           NaN            NaN           0.2  Iris-setosa
10       5.400000           3.7            1.5           0.2  Iris-setosa
20       5.851333           3.4            1.7           0.2  Iris-setosa

In [12]:
df3 = df.copy(deep=True)

In [13]:
df3.fillna(method="bfill",inplace = True) #take the next data present in next column 
df3.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             5.4           3.6            1.4           0.2  Iris-setosa
7             5.0           2.9            1.4           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
20            5.1           3.4            1.7           0.2  Iris-setosa

In [14]:
df4 = df.copy(deep=True)

In [15]:
df4.fillna(method="ffill",inplace = True) #take the prev data present in previous  column 
df4.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            4.6           3.6            1.4           0.2  Iris-setosa

In [16]:
 from sklearn.impute import SimpleImputer

In [17]:
si = SimpleImputer(missing_values=np.nan,strategy='mean') #this is a class so we have to create an object before using it
df5= df.iloc[:,0:4]
si.fit_transform(df5)

array([[5.1       , 3.5       , 1.4       , 0.2       ],
       [4.9       , 3.        , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.3       , 0.2       ],
       [4.6       , 3.1       , 1.5       , 0.2       ],
       [5.85202703, 3.6       , 1.4       , 0.2       ],
       [5.4       , 3.9       , 1.7       , 0.4       ],
       [4.6       , 3.4       , 1.4       , 0.3       ],
       [5.        , 3.05167785, 3.7738255 , 0.2       ],
       [4.4       , 2.9       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.4       , 3.7       , 1.5       , 0.2       ],
       [4.8       , 3.4       , 1.6       , 0.2       ],
       [4.8       , 3.        , 1.4       , 0.1       ],
       [4.3       , 3.        , 1.1       , 0.1       ],
       [5.8       , 4.        , 1.2       , 0.2       ],
       [5.7       , 4.4       , 1.5       , 0.4       ],
       [5.4       , 3.9       , 1.3       , 0.4       ],
       [5.1       , 3.5       , 1.4       , 0.3       ],
       [5.7       , 3.8       , 1.7       , 0.3       ],
       [5.1       , 3.8       , 1.5       , 0.3       ],
       [5.85202703, 3.4       , 1.7       , 0.2       ],
       [5.1       , 3.7       , 1.5       , 0.4       ],
       [4.6       , 3.6       , 1.        , 0.2       ],
       [5.1       , 3.3       , 1.7       , 0.5       ],
       [4.8       , 3.4       , 1.9       , 0.2       ],
       [5.        , 3.        , 1.6       , 0.2       ],
       [5.        , 3.4       , 1.6       , 0.4       ],
       [5.2       , 3.5       , 1.5       , 0.2       ],
       [5.2       , 3.4       , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.6       , 0.2       ],
       [4.8       , 3.1       , 1.6       , 0.2       ],
       [5.4       , 3.4       , 1.5       , 0.4       ],
       [5.2       , 4.1       , 1.5       , 0.1       ],
       [5.5       , 4.2       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.        , 3.2       , 1.2       , 0.2       ],
       [5.5       , 3.5       , 1.3       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [4.4       , 3.        , 1.3       , 0.2       ],
       [5.1       , 3.4       , 1.5       , 0.2       ],
       [5.        , 3.5       , 1.3       , 0.3       ],
       [4.5       , 2.3       , 1.3       , 0.3       ],
       [4.4       , 3.2       , 1.3       , 0.2       ],
       [5.        , 3.5       , 1.6       , 0.6       ],
       [5.1       , 3.8       , 1.9       , 0.4       ],
       [4.8       , 3.        , 1.4       , 0.3       ],
       [5.1       , 3.8       , 1.6       , 0.2       ],
       [4.6       , 3.2       , 1.4       , 0.2       ],
       [5.3       , 3.7       , 1.5       , 0.2       ],
       [5.        , 3.3       , 1.4       , 0.2       ],
       [7.        , 3.2       , 4.7       , 1.4       ],
       [6.4       , 3.2       , 4.5       , 1.5       ],
       [6.9       , 3.1       , 4.9       , 1.5       ],
       [5.5       , 2.3       , 4.        , 1.3       ],
       [6.5       , 2.8       , 4.6       , 1.5       ],
       [5.7       , 2.8       , 4.5       , 1.3       ],
       [6.3       , 3.3       , 4.7       , 1.6       ],
       [4.9       , 2.4       , 3.3       , 1.        ],
       [6.6       , 2.9       , 4.6       , 1.3       ],
       [5.2       , 2.7       , 3.9       , 1.4       ],
       [5.        , 2.        , 3.5       , 1.        ],
       [5.9       , 3.        , 4.2       , 1.5       ],
       [6.        , 2.2       , 4.        , 1.        ],
       [6.1       , 2.9       , 4.7       , 1.4       ],
       [5.6       , 2.9       , 3.6       , 1.3       ],
       [6.7       , 3.1       , 4.4       , 1.4       ],
       [5.6       , 3.        , 4.5       , 1.5       ],
       [5.8       , 2.7       , 4.1       , 1.        ],
       [6.2       , 2.2       , 4.5       , 1.5       ],
       [5.6       , 2.5       , 3.9       , 1.1       ],
       [5.9       , 3.2       , 4.8       , 1.8       ],
       [6.1       , 2.8       , 4.        , 1.3       ],
       [6.3       , 2.5       , 4.9       , 1.5       ],
       [6.1       , 2.8       , 4.7       , 1.2       ],
       [6.4       , 2.9       , 4.3       , 1.3       ],
       [6.6       , 3.        , 4.4       , 1.4       ],
       [6.8       , 2.8       , 4.8       , 1.4       ],
       [6.7       , 3.        , 5.        , 1.7       ],
       [6.        , 2.9       , 4.5       , 1.5       ],
       [5.7       , 2.6       , 3.5       , 1.        ],
       [5.5       , 2.4       , 3.8       , 1.1       ],
       [5.5       , 2.4       , 3.7       , 1.        ],
       [5.8       , 2.7       , 3.9       , 1.2       ],
       [6.        , 2.7       , 5.1       , 1.6       ],
       [5.4       , 3.        , 4.5       , 1.5       ],
       [6.        , 3.4       , 4.5       , 1.6       ],
       [6.7       , 3.1       , 4.7       , 1.5       ],
       [6.3       , 2.3       , 4.4       , 1.3       ],
       [5.6       , 3.        , 4.1       , 1.3       ],
       [5.5       , 2.5       , 4.        , 1.3       ],
       [5.5       , 2.6       , 4.4       , 1.2       ],
       [6.1       , 3.        , 4.6       , 1.4       ],
       [5.8       , 2.6       , 4.        , 1.2       ],
       [5.        , 2.3       , 3.3       , 1.        ],
       [5.6       , 2.7       , 4.2       , 1.3       ],
       [5.7       , 3.        , 4.2       , 1.2       ],
       [5.7       , 2.9       , 4.2       , 1.3       ],
       [6.2       , 2.9       , 4.3       , 1.3       ],
       [5.1       , 2.5       , 3.        , 1.1       ],
       [5.7       , 2.8       , 4.1       , 1.3       ],
       [6.3       , 3.3       , 6.        , 2.5       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [7.1       , 3.        , 5.9       , 2.1       ],
       [6.3       , 2.9       , 5.6       , 1.8       ],
       [6.5       , 3.        , 5.8       , 2.2       ],
       [7.6       , 3.        , 6.6       , 2.1       ],
       [4.9       , 2.5       , 4.5       , 1.7       ],
       [7.3       , 2.9       , 6.3       , 1.8       ],
       [6.7       , 2.5       , 5.8       , 1.8       ],
       [7.2       , 3.6       , 6.1       , 2.5       ],
       [6.5       , 3.2       , 5.1       , 2.        ],
       [6.4       , 2.7       , 5.3       , 1.9       ],
       [6.8       , 3.        , 5.5       , 2.1       ],
       [5.7       , 2.5       , 5.        , 2.        ],
       [5.8       , 2.8       , 5.1       , 2.4       ],
       [6.4       , 3.2       , 5.3       , 2.3       ],
       [6.5       , 3.        , 5.5       , 1.8       ],
       [7.7       , 3.8       , 6.7       , 2.2       ],
       [7.7       , 2.6       , 6.9       , 2.3       ],
       [6.        , 2.2       , 5.        , 1.5       ],
       [6.9       , 3.2       , 5.7       , 2.3       ],
       [5.6       , 2.8       , 4.9       , 2.        ],
       [7.7       , 2.8       , 6.7       , 2.        ],
       [6.3       , 2.7       , 4.9       , 1.8       ],
       [6.7       , 3.3       , 5.7       , 2.1       ],
       [7.2       , 3.2       , 6.        , 1.8       ],
       [6.2       , 2.8       , 4.8       , 1.8       ],
       [6.1       , 3.        , 4.9       , 1.8       ],
       [6.4       , 2.8       , 5.6       , 2.1       ],
       [7.2       , 3.        , 5.8       , 1.6       ],
       [7.4       , 2.8       , 6.1       , 1.9       ],
       [7.9       , 3.8       , 6.4       , 2.        ],
       [6.4       , 2.8       , 5.6       , 2.2       ],
       [6.3       , 2.8       , 5.1       , 1.5       ],
       [6.1       , 2.6       , 5.6       , 1.4       ],
       [7.7       , 3.        , 6.1       , 2.3       ],
       [6.3       , 3.4       , 5.6       , 2.4       ],
       [6.4       , 3.1       , 5.5       , 1.8       ],
       [6.        , 3.        , 4.8       , 1.8       ],
       [6.9       , 3.1       , 5.4       , 2.1       ],
       [6.7       , 3.1       , 5.6       , 2.4       ],
       [6.9       , 3.1       , 5.1       , 2.3       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [6.8       , 3.2       , 5.9       , 2.3       ],
       [6.7       , 3.3       , 5.7       , 2.5       ],
       [6.7       , 3.        , 5.2       , 2.3       ],
       [6.3       , 2.5       , 5.        , 1.9       ],
       [6.5       , 3.        , 5.2       , 2.        ],
       [6.2       , 3.4       , 5.4       , 2.3       ],
       [5.9       , 3.        , 5.1       , 1.8       ]])

In [18]:
si = SimpleImputer(missing_values=np.nan,strategy='most_frequent') #this is a class so we have to create an object before using it
si.fit_transform(df4[['Species']])

array([['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica']], dtype=object)

# Feature scaling on the data

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
df6 = df.copy(deep = True)

In [21]:
df6.dropna(inplace=True)

In [22]:
df6.shape

(146, 5)

In [23]:
#getting the column with only numeric values 
df7 = df6[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
df7.shape

(146, 4)

# minmaxscaler

In [24]:
from sklearn.preprocessing import MinMaxScaler

In [48]:
mnscaler = MinMaxScaler(feature_range=(0,1))
scaled = mnscaler.fit_transform(df7)

In [49]:
new_df = pd.DataFrame(scaled,columns=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']) 
new_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0         0.222222      0.625000       0.067797      0.041667
1         0.166667      0.416667       0.067797      0.041667
2         0.111111      0.500000       0.050847      0.041667
3         0.083333      0.458333       0.084746      0.041667
4         0.305556      0.791667       0.118644      0.125000
..             ...           ...            ...           ...
141       0.666667      0.416667       0.711864      0.916667
142       0.555556      0.208333       0.677966      0.750000
143       0.611111      0.416667       0.711864      0.791667
144       0.527778      0.583333       0.745763      0.916667
145       0.444444      0.416667       0.694915      0.708333

[146 rows x 4 columns]

# standardscaler

In [27]:
from sklearn.preprocessing import StandardScaler

In [90]:
mn= StandardScaler()
scaled1 = mn.fit_transform(df7)

In [29]:
new_df1 = pd.DataFrame(scaled1,columns=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']) 
new_df1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0        -0.918060      1.066468      -1.388712     -1.363428
1        -1.159350     -0.095505      -1.388712     -1.363428
2        -1.400640      0.369284      -1.446100     -1.363428
3        -1.521286      0.136890      -1.331324     -1.363428
4        -0.556124      1.996046      -1.216548     -1.097660
..             ...           ...            ...           ...
141       1.012262     -0.095505       0.792034      1.427140
142       0.529682     -1.257477       0.677258      0.895603
143       0.770972     -0.095505       0.792034      1.028487
144       0.409037      0.834074       0.906810      1.427140
145       0.047101     -0.095505       0.734646      0.762719

[146 rows x 4 columns]

# Binariser

In [30]:
from sklearn.preprocessing import Binarizer
bsscaler = Binarizer(threshold=5) #anything avove 5  = 1 and below 5 = 0
scaled3 = bsscaler.fit_transform(df7)
new_df2 = pd.DataFrame(scaled3,columns=['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']) 
new_df2

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              1.0           0.0            0.0           0.0
1              0.0           0.0            0.0           0.0
2              0.0           0.0            0.0           0.0
3              0.0           0.0            0.0           0.0
4              1.0           0.0            0.0           0.0
..             ...           ...            ...           ...
141            1.0           0.0            1.0           0.0
142            1.0           0.0            0.0           0.0
143            1.0           0.0            1.0           0.0
144            1.0           0.0            1.0           0.0
145            1.0           0.0            1.0           0.0

[146 rows x 4 columns]

# shaping a categorical Data

# feature scaling

In [31]:
df8 = df.copy(deep = True)

In [32]:
df8.dropna(axis=0 ,inplace = True)
df8

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
5              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[146 rows x 5 columns]

In [33]:
df8.shape

(146, 5)

# map methord

In [34]:
df8.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [35]:
mapping = {'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3}
df8['Species']=df8['Species'].map(mapping)
df8.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        1
1            4.9           3.0            1.4           0.2        1
2            4.7           3.2            1.3           0.2        1
3            4.6           3.1            1.5           0.2        1
5            5.4           3.9            1.7           0.4        1

# label encoder

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df8['Species']= le.fit_transform(df8[['Species']])
df8

C:\Users\rajsa\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
5              5.4           3.9            1.7           0.4        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[146 rows x 5 columns]

# onehot Encoding

In [37]:
from sklearn.preprocessing import OneHotEncoder
le =  OneHotEncoder()
x= le.fit_transform(df8[['Species']])
x

<146x3 sparse matrix of type '<class 'numpy.float64'>'
	with 146 stored elements in Compressed Sparse Row format>

In [88]:
from sklearn.preprocessing import OneHotEncoder
le =  OneHotEncoder()
x= le.fit_transform(df8[['Species']]).toarray()  #to chane the array value in the matrix of binary value 
x

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

# Dummies

In [39]:
pd.get_dummies(df8['Species'])

     0  1  2
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
5    1  0  0
..  .. .. ..
145  0  0  1
146  0  0  1
147  0  0  1
148  0  0  1
149  0  0  1

[146 rows x 3 columns]

# feature selection

In [40]:
#determine x any y 
#for classification problemms,use chi2 methord
#For regression problem , use f_regression

In [94]:
from sklearn.feature_selection import SelectKBest, chi2
x = df8.iloc[:,0:4]
y = df8['Species']
sk= SelectKBest(chi2,k=2)
sk.fit_transform(x,y)

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.7, 0.4],
       [1.4, 0.3],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.6, 0.2],
       [1.4, 0.1],
       [1.1, 0.1],
       [1.2, 0.2],
       [1.5, 0.4],
       [1.3, 0.4],
       [1.4, 0.3],
       [1.7, 0.3],
       [1.5, 0.3],
       [1.5, 0.4],
       [1. , 0.2],
       [1.7, 0.5],
       [1.9, 0.2],
       [1.6, 0.2],
       [1.6, 0.4],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.6, 0.2],
       [1.6, 0.2],
       [1.5, 0.4],
       [1.5, 0.1],
       [1.4, 0.2],
       [1.5, 0.1],
       [1.2, 0.2],
       [1.3, 0.2],
       [1.5, 0.1],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.3, 0.3],
       [1.3, 0.3],
       [1.3, 0.2],
       [1.6, 0.6],
       [1.9, 0.4],
       [1.4, 0.3],
       [1.6, 0.2],
       [1.4, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [4.7, 1.4],
       [4.5, 1.5],
       [4.9, 1.5],
       [4. , 1.3],
       [4.6, 1.5],
       [4.5, 1.3],
       [4.7, 1.6],
       [3.3, 1. ],
       [4.6, 1.3],
       [3.9, 1.4],
       [3.5, 1. ],
       [4.2, 1.5],
       [4. , 1. ],
       [4.7, 1.4],
       [3.6, 1.3],
       [4.4, 1.4],
       [4.5, 1.5],
       [4.1, 1. ],
       [4.5, 1.5],
       [3.9, 1.1],
       [4.8, 1.8],
       [4. , 1.3],
       [4.9, 1.5],
       [4.7, 1.2],
       [4.3, 1.3],
       [4.4, 1.4],
       [4.8, 1.4],
       [5. , 1.7],
       [4.5, 1.5],
       [3.5, 1. ],
       [3.8, 1.1],
       [3.7, 1. ],
       [3.9, 1.2],
       [5.1, 1.6],
       [4.5, 1.5],
       [4.5, 1.6],
       [4.7, 1.5],
       [4.4, 1.3],
       [4.1, 1.3],
       [4. , 1.3],
       [4.4, 1.2],
       [4.6, 1.4],
       [4. , 1.2],
       [3.3, 1. ],
       [4.2, 1.3],
       [4.2, 1.2],
       [4.2, 1.3],
       [4.3, 1.3],
       [3. , 1.1],
       [4.1, 1.3],
       [6. , 2.5],
       [5.1, 1.9],
       [5.9, 2.1],
       [5.6, 1.8],
       [5.8, 2.2],
       [6.6, 2.1],
       [4.5, 1.7],
       [6.3, 1.8],
       [5.8, 1.8],
       [6.1, 2.5],
       [5.1, 2. ],
       [5.3, 1.9],
       [5.5, 2.1],
       [5. , 2. ],
       [5.1, 2.4],
       [5.3, 2.3],
       [5.5, 1.8],
       [6.7, 2.2],
       [6.9, 2.3],
       [5. , 1.5],
       [5.7, 2.3],
       [4.9, 2. ],
       [6.7, 2. ],
       [4.9, 1.8],
       [5.7, 2.1],
       [6. , 1.8],
       [4.8, 1.8],
       [4.9, 1.8],
       [5.6, 2.1],
       [5.8, 1.6],
       [6.1, 1.9],
       [6.4, 2. ],
       [5.6, 2.2],
       [5.1, 1.5],
       [5.6, 1.4],
       [6.1, 2.3],
       [5.6, 2.4],
       [5.5, 1.8],
       [4.8, 1.8],
       [5.4, 2.1],
       [5.6, 2.4],
       [5.1, 2.3],
       [5.1, 1.9],
       [5.9, 2.3],
       [5.7, 2.5],
       [5.2, 2.3],
       [5. , 1.9],
       [5.2, 2. ],
       [5.4, 2.3],
       [5.1, 1.8]])

# principle component Analysis

In [42]:
#it reduces the dimension into components . components are the derivatives

In [51]:
from sklearn.decomposition import PCA

In [52]:
df9 = pd.read_csv("Iris-f.csv")
df9.dropna(axis=0,inplace=True)
df9.shape

(146, 5)

In [60]:
x= df9.iloc[:,0:4]
pca = PCA(n_components=2) #these are component not the feature 
scaled =pca.fit_transform(x)

In [61]:
df_new = pd.DataFrame(scaled)
df_new

            0         1
0   -2.751400  0.356622
1   -2.786004 -0.140028
2   -2.960345 -0.105606
3   -2.818148 -0.280480
4   -2.344267  0.775822
..        ...       ...
141  1.875278  0.186313
142  1.453316 -0.374859
143  1.694765  0.078005
144  1.832162  0.117102
145  1.317822 -0.280077

[146 rows x 2 columns]

In [62]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_new['Species']= le.fit_transform(df9[['Species']])
df_new

C:\Users\rajsa\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

            0         1  Species
0   -2.751400  0.356622        0
1   -2.786004 -0.140028        0
2   -2.960345 -0.105606        0
3   -2.818148 -0.280480        0
4   -2.344267  0.775822        0
..        ...       ...      ...
141  1.875278  0.186313        2
142  1.453316 -0.374859        2
143  1.694765  0.078005        2
144  1.832162  0.117102        2
145  1.317822 -0.280077        2

[146 rows x 3 columns]

# preprocessed data

In [ ]:
df_new

In [80]:
x = df_new.iloc[:,0:2]
y = df_new["Species"] 
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size = 0.8 ,shuffle=True,random_state = 1)

In [81]:
print(xtrain.shape) 
print(xtest.shape)

(116, 2)
(30, 2)

In [84]:
xtrain.value_counts()

0          1
-2.743925  -0.077647    2
-3.298321  -0.469006    1
 1.453316  -0.374859    1
 1.372707  -0.143927    1
 1.340126  -0.572375    1
                       ..
-2.262304   0.905392    1
-2.275376   0.470619    1
-2.344267   0.775822    1
-2.425844  -0.003250    1
 3.727198   0.235110    1
Length: 115, dtype: int64